.search{
    margin-right: 50px;
}

.data2{
    width: 100%;
}

.mr-sm-2{
    padding-right: 250px;
}


.Navbar{
    margin-bottom: 50px;
}

.card{
    text-align: center;
    width: auto;
    height: auto;
    margin: 20px;
    align-content: center;
}

.card-subtitle {
    padding: 5px;
}


