Table, thead, th, td {
border: 3px solid black;
color: black;
background-color: white;
}

.search{
    margin-right: 50px;
}

.mr-sm-2{
    padding-right: 250px;
}

.data1{
    width: 100%;
}

.Navbar{
    margin-bottom: 50px;
}

.table1{
    border: 5px;
    color: aliceblue;
}

.btn2{
    background-color: black;
}


.card{
    text-align: center;
    width: auto;
    height: auto;
    margin: 20px;
}

.btn1{
    margin: 20px;
}